{
    "DEV": {
        "subscriptionPreviewUrl": "https://spreview.dev.telematicsct.com",
        "subscriptionApiBaseUrl" : "https://orchsub.dev.telematicsct.com/subscription/v1/",
        "subPreviewEndPoint": "/v1/subscriptions",
        "authKey": ""
    },
    "QA": {
        "subscriptionPreviewUrl": "https://spreview.qa.telematicsct.com",
        "subscriptionApiBaseUrl" : "https://orchsub.qa.telematicsct.com/subscription/v1/",
        "subPreviewEndPoint": "/v1/subscriptions",
        "authKey": ""
    },
    "STG": {
        "subscriptionPreviewUrl": "https://spreview.stg.telematicsct.com",
        "subscriptionApiBaseUrl" : "https://orchsub.stg.telematicsct.com/subscription/v1/",
        "subPreviewEndPoint": "/v1/subscriptions",
        "authKey": ""
    },
    "PRD": {
        "subscriptionPreviewUrl" : "https://spreview.telematicsct.com",
        "subscriptionApiBaseUrl" : "https://orchsub.telematicsct.com/subscription/v1/",
        "subPreviewEndPoint": "/v1/subscriptions",
        "authKey": ""
    } 
}

